@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
*{
    padding: 0px;
    margin: 0px;
}
.body{
    display: flex;
    flex-direction: column;
}
.navbar{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    background-color: #191B50;
    height: 6vh;
    gap: 1em;
}
.logo{
    display: inline-block;
}
.logo img{
    margin-top: 0.5vh;
    margin-left: 3vh;
    height: 5vh;
    width: 5vh;
}
.navpages{
    justify-content: flex-end;
}
.navpage{
    display: inline-block;
    border: 1px solid #D5D5EB;
    background-color: #D5D5EB;
    border-radius: 12.5px;
    margin-top: 1.5vh;
}
.navpage:hover{
    opacity: 1;
    transition: .4s;
    font-size: larger;
    padding: 5px;
}
.navpage a{
    text-decoration: none;
    color: #FFFFFF;
    text-transform: uppercase;
    font-family: 'Nanum Gothic', sans-serif;
    margin: 5px;
}
.container{
    background-color: #FDEFE6;
    height: 88.6vh;
}
.mainpageimg img{
    margin-top: 8vh;
    margin-left: 4vw;
    height: 75vh;
}
.mainpagetext{
    position: absolute;
    top: 15%;
    left: 50%;
    font-size: x-large;
}
.mainpagetext h1{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}
.mainpagetext p{
    font-family: 'Didact Gothic', sans-serif;
}
.button{
    display: inline-block;
    border: 1px solid black;
    border-radius: 12px;
    background-color: #D5D5EB;
    margin-top: 2vh;
}
.button a{
    text-decoration: none;
    color: #191B50;
}
.button:hover{
    opacity: 1;
    transition: .4s;
    font-size: larger;
    padding: 8px;
}
.backgroundtext h1{
    font-family: 'Poppins', sans-serif;
    margin-top: 2vh;
    margin-left: 15vh;
    margin-bottom: 5vh;
}
.backgroundtext p{
    font-family: 'Didact Gothic', sans-serif;
    margin-top: 2vh;
    margin-left: 20vw;
    margin-right: 20vw;
    font-size: larger;
    text-indent: 20px;
}
.backgroundtext span{
    text-indent: 20px;
}
.aboutmeimg{
    position: absolute;
    top: 10%;
    left: 10%;
}
.aboutmeimg img{
    width: 25vw;
}
.name{
    position: absolute;
    top: 55%;
    left: 13.5%;
    right: 68.5%;
    border: 3px solid black;
    text-align: center;
    font-family: 'Didact Gothic', sans-serif;
    font-size: x-large;
    background-color: rgb(255, 255, 255);
}
.details{
    position: absolute;
    top: 10%;
    left: 40%;
}
.details p{
    font-family: 'Nanum Gothic', sans-serif;
    font-size: x-large;
}
.details span{
    font-weight: bold;
}
.details hr{
    width: 100vh;
}
.bulletlist{
    margin-left: 5vw;
    margin-right: 3vw;
    margin-top: 2vh;
    margin-bottom: 3vh;
}
.footer{
    border: 1px solid black;
    background-color: #191B50;
    height: 5vh;
}
.copyright{
    margin-top: 1vh;
    display: inline-block;
    color: #D5D5EB;
    font-family: 'Didact Gothic', sans-serif;
}
.sublinks{
    float: right;
    margin-top: 1vh;
}
.sublink{
    display: inline-block;
}
.sublinks img{
    filter: invert(74%) sepia(7%) saturate(1891%) hue-rotate(331deg) brightness(105%) contrast(89%);
    height: 3.5vh;
}
.sublinks a{
    margin-left: 10px;
}

